{block content}
<div class="row">
	<div class="col-md-2 col-md-offset-5 text-center">
		<h1>Dashboard</h1>

		<button type="button" class="btn btn-default">
			<a n:href=":Eton:Default:default">Polling example</a>
		</button>
	</div>
</div>
